@font-face {
  font-family: 'Google Sans';
  font-weight: 400;
  font-display: auto;
  src: url('../assets/fonts/ProductSans/ProductSans-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-weight: 500;
  font-display: auto;
  src: url('../assets/fonts/ProductSans/ProductSans-Medium.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-weight: 700;
  font-display: auto;
  src: url('../assets/fonts/ProductSans/ProductSans-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-weight: 800;
  font-display: auto;
  src: url('../assets/fonts/ProductSans/ProductSans-Black.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-weight: 300;
  font-display: auto;
  src: url('../assets/fonts/ProductSans/ProductSans-Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-weight: 200;
  font-display: auto;
  src: url('../assets/fonts/ProductSans/ProductSans-Thin.ttf')
    format('truetype');
}