@import './fonts/ProductSans/productSans.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .show-box {
    border: 1px solid red;
  }
}

:root {
  --clr-gray-300: #dadce0;
  --clr-gray-600: #5f6368;
  --clr-gray-800: rgba(0, 0, 0, 0.72);
  --clr-gray-900: #3c4043;
  --clr-green-500: #4ecb71;
}

/* semantic color variables for this project */
:root {
  --clr-text: var(--clr-gray-800);
  --clr-subtitle: var(--clr-gray-600);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

img {
  max-width: 100%;
  object-fit: cover;
  display: block;
}

body {
  min-height: 100vh;
  color: var(--clr-text);
  background: var(--clr-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Google Sans', Inter, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
